<div *ngIf="items.length; else empty">
  <div *ngFor="let item of items" class="p-2 flex items-center justify-between">
    <span>{{ item.name }}</span>
    <input
      type="number"
      [value]="item.quantity"
      (change)="changeQty(item.dishId, $any($event.target).value)"
      min="1"
      class="w-16 mx-2"
    />
    <button (click)="remove(item.dishId)" class="btn btn-danger">×</button>
  </div>
  <button (click)="placeOrder()" class="mt-4 btn-primary">Place Order</button>
</div>
<ng-template #empty>
  <p>The cart is empty</p>
</ng-template>
