<div class="container">
  <div
    class="d-flex align-items-center justify-content-center min-vh-100 py-5"
    style="margin-top: -80px; margin-bottom: -120px"
  >
    <div class="row w-100 justify-content-center">
      <div
        class="card border-primary shadow-md rounded-4 p-4 mt-0"
        style="width: 90%; max-width: 400px"
      >
        <h2 class="text-primary">Cart</h2>

        <div class="container-fluid" *ngIf="items.length; else empty">
          <div
            *ngFor="let item of items"
            class="btn-group form-floating p-2 flex items-center justify-between"
          >
            <span>{{ item.name }}</span>
            <input
              type="number"
              [value]="item.quantity"
              (change)="changeQty(item.dishId, $any($event.target).value)"
              min="1"
              class="w-16 mx-2 form-control text-center"
            />
            <button (click)="remove(item.dishId)" class="btn btn-danger">
              ×
            </button>
          </div>
          <button (click)="placeOrder()" class="mt-4 btn btn-primary">
            Place Order
          </button>
        </div>
        <ng-template #empty>
          <h3>The cart is empty</h3>
        </ng-template>
      </div>
    </div>
  </div>
</div>
